<div class="message-box message-box-resize">
  <div class="message-divider">
    <hr>
    <span>Today</span> </div>
  <div class="message-content">
    <div class="media popup-options"> <img width="36px" class="d-flex mr-2"  src="../../assets/images/user.png">
      <div class="media-body">
        <h5 class="mt-0">John Smith <a href="" class="date">9:49 AM</a> <a href="" class="star"><i class="fa fa-star-o"></i></a></h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        <p> 
      </div>
      <div class="chat-actions-hover">
        <ul>
          <li><button data-toggle="tooltip" data-placement="top" data-original-title="Add Reaction..."><i class="ion-android-happy" ></i></button></li>
          <li><button data-original-title="Start a thread" data-placement="top" data-toggle="tooltip"><i class="ion-android-chat"></i></button></li>
          <li><button data-toggle="modal" data-target="#share-message-pop" ><i data-original-title="Share message..." data-placement="top" data-toggle="tooltip" class="ion-android-share"></i></button></li>
          <li class="more-options"><button data-original-title="More options..." data-placement="top" data-toggle="tooltip"><i class="ion-ios-more"></i></button>
          
          </li>
        </ul>

        <div class="child-more-options dropdown-menu">
        <ul>
          <li><a href="javascript:vold(0)">Follow message<small>Any replies will show up in All Threads</small></a></li>
          <hr>
          <li><a href="javascript:vold(0)">Send message ...</a></li>
          <li><a href="javascript:vold(0)">Copy link</a></li>
          <li><a href="javascript:vold(0)">Remind me about this <i class="ion-ios-arrow-right pull-right"></i></a>
            <ul class="remind-optn-ul dropdown-menu">
              <li><a href="javascript:vold(0)">In 20 minutes</a></li>
              <li><a href="javascript:vold(0)">In 1 hour</a></li>
              <li><a href="javascript:vold(0)">In 3 hours</a></li>
              <li><a href="javascript:vold(0)">Tomorrow</a></li>
              <li><a href="javascript:vold(0)">Next week</a></li>
            </ul>
          </li>
          <hr>
          <li><a href="javascript:vold(0)">Add reation ...</a></li>
          <li><a href="javascript:vold(0)">Pin to #random ...</a></li>
          <hr>
          <li><a href="javascript:vold(0)">Edit message</a></li>
          <li><a href="javascript:vold(0)" class="delete-msg">Delete message</a></li>
        </ul>
        </div>
      </div>
    </div>
    <div class="media"> <img width="36px" class="d-flex mr-2"  src="../../assets/images/user.png">
      <div class="media-body">
        <h5 class="mt-0">John Smith <a href="" class="date">9:49 AM</a> <a href="" class="star"><i class="fa fa-star-o"></i></a></h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        <p> 
      </div>
      <div class="chat-actions-hover">
        <ul>
          <li><button data-toggle="tooltip" data-placement="top" data-original-title="Add Reaction..."><i class="ion-android-happy" ></i></button></li>
          <li><button data-original-title="Start a thread" data-placement="top" data-toggle="tooltip"><i class="ion-android-chat"></i></button></li>
          <li><button data-original-title="Share message..." data-placement="top" data-toggle="tooltip"><i class="ion-android-share"></i></button></li>
          <li><button data-original-title="Show more actions" data-placement="top" data-toggle="tooltip"><i class="ion-ios-more"></i></button></li>
        </ul>
      </div>
    </div>
    <div class="media"> <img width="36px" class="d-flex mr-2"  src="../../assets/images/user.png">
      <div class="media-body">
        <h5 class="mt-0">John Smith <a href="" class="date">9:49 AM</a> <a href="" class="star"><i class="fa fa-star-o"></i></a></h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio.
        <p> 
      </div>
      <div class="chat-actions-hover">
        <ul>
          <li><button data-toggle="tooltip" data-placement="top" data-original-title="Add Reaction..."><i class="ion-android-happy" ></i></button></li>
          <li><button data-original-title="Start a thread" data-placement="top" data-toggle="tooltip"><i class="ion-android-chat"></i></button></li>
          <li><button data-original-title="Share message..." data-placement="top" data-toggle="tooltip"><i class="ion-android-share"></i></button></li>
          <li><button data-original-title="Show more actions" data-placement="top" data-toggle="tooltip"><i class="ion-ios-more"></i></button></li>
        </ul>
      </div>
    </div>
    <div class="media"> <img width="36px" class="d-flex mr-2"  src="../../assets/images/user.png">
      <div class="media-body">
        <h5 class="mt-0">John Smith <a href="" class="date">9:49 AM</a> <a href="" class="star"><i class="fa fa-star-o"></i></a></h5>
        <p>Hello...<br>You there?
        <p> 
      </div>
      <div class="chat-actions-hover">
        <ul>
          <li><button data-toggle="tooltip" data-placement="top" data-original-title="Add Reaction..."><i class="ion-android-happy" ></i></button></li>
          <li><button data-original-title="Start a thread" data-placement="top" data-toggle="tooltip"><i class="ion-android-chat"></i></button></li>
          <li><button data-original-title="Share message..." data-placement="top" data-toggle="tooltip"><i class="ion-android-share"></i></button></li>
          <li><button data-original-title="Show more actions" data-placement="top" data-toggle="tooltip"><i class="ion-ios-more"></i></button></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="message-footer">
    <div class="input-group"> <span class="input-group-addon first-addon"> <a class="plus"><i class="ion-android-add"></i></a> </span>
      <input type="text" class="form-control" placeholder="Message @slackbot"/>
      <span class="input-group-addon last-addon"> <a class="at"><i class="ion-at"></i></a><a class="smile"><i class="fa fa-smile-o"></i></a> </span> </div>
  </div> 
</div>

<!-- thread strat -->
<div class="start-thread-sec">
  <div class="thread-head">
    <div class="row">
      <div class="col-md-10">
        <h2>Thread</h2>
        <small>Just you</small>
      </div>
      <div class="col-md-2"><a href="javascript:vold(0)" class="close-thread"><i class="ion-android-close"></i></a></div>
    </div>
  </div>
  <div class="thread-body">
    <div class="media popup-options-thread"> <img width="36px" class="d-flex mr-2"  src="../../assets/images/user.png">
      <div class="media-body-thread">
        <h5 class="mt-0">John Smith <a href="" class="date">9:49 AM</a> <a href="" class="star"><i class="fa fa-star-o"></i></a></h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
        <p> 
      </div>
      <div class="chat-actions-hover-thread">
        <ul class="thread-ul">
          <li><button data-toggle="tooltip" data-placement="top" data-original-title="Add Reaction..."><i class="ion-android-happy" ></i></button></li>
          <li><button data-toggle="modal" data-target="#share-message-pop" ><i data-original-title="Open in channel" data-placement="top" data-toggle="tooltip" class="ion-android-open"></i></button></li>
          <li class="more-options"><button data-original-title="More options..." data-placement="top" data-toggle="tooltip"><i class="ion-ios-more"></i></button>
          
          </li>
        </ul>

        <div class="child-more-options-thread dropdown-menu">
        <ul>
          <li><a href="javascript:vold(0)">Follow message<small>Any replies will show up in All Threads</small></a></li>
          <hr>
          <li><a href="javascript:vold(0)">Send message ...</a></li>
          <li><a href="javascript:vold(0)">Copy link</a></li>
          <li><a href="javascript:vold(0)">Remind me about this <i class="ion-ios-arrow-right pull-right"></i></a>
            <ul class="remind-optn-ul dropdown-menu">
              <li><a href="javascript:vold(0)">In 20 minutes</a></li>
              <li><a href="javascript:vold(0)">In 1 hour</a></li>
              <li><a href="javascript:vold(0)">In 3 hours</a></li>
              <li><a href="javascript:vold(0)">Tomorrow</a></li>
              <li><a href="javascript:vold(0)">Next week</a></li>
            </ul>
          </li>
          <hr>
          <li><a href="javascript:vold(0)">Add reation ...</a></li>
          <li><a href="javascript:vold(0)">Pin to #random ...</a></li>
          <hr>
          <li><a href="javascript:vold(0)">Edit message</a></li>
          <li><a href="javascript:vold(0)" class="delete-msg">Delete message</a></li>
        </ul>
        </div>
      </div>
    </div>
    <div class="reply-thread">
      <img width="36px" class="d-flex mr-2"  src="../../assets/images/user.png">
      <form>
            <textarea class="form-control" placeholder="Reply..."></textarea>
            <i class="ion-android-happy textarea-imoji"></i>
      </form>
    </div>
  </div>
</div>
<!-- thread end -->
  














